---
layout: default
title: Books
description: A collection of books to help you do better marketing. Each one is fantastic and worth your time.
---

<div class="allBooks">
    {% for book in site.books %}
    <div class="bookContainer">
        <div class="bookImageContainer">
            <img loading="lazy" src="/assets/images/books/{{book.image}}" alt="{{ book.title }} image">
        </div>
        <div class="bookInfoContainer">
            <div class="bookInfo">
            <h2><a href="{{ book.url }}">{{ book.title }}</a></h2>
            <p>by {{ book.author }}</p>
            <!-- <p class="category">{{ book.category }}</p> -->
            </div>
        </div>
        <div class="bookLinkContainer">
        {% for link_hash in book.links %}
        {% for link in link_hash %}
        <a href="{{ link[1] }}" target="_blank" rel="noopener" class="heroButton buttonFill buttonLine">{{ link[0] }}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M0 0h24v24H0z" stroke="none"/><path d="M5 12h14M13 18l6-6M13 6l6 6"/></svg></a>
        {% endfor %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>