---
layout: default
title: Resources
description: Master the best of what other people have already figured out. Explore business management and leadership.
---

    {% for resourceCategory in site.data.resources.resources %}
    <h2 id="{{ resourceCategory.type }}" class="resourceHeader">{{ resourceCategory.type }}</h2>
    {% for resource in resourceCategory.list %}
    <a class="resourceLink" target="_blank" href="{{ resource.link }}" rel="noopener">
        <div class="resourceContainer">
            <img width="16" alt="{{ resource.title }} Favicon" loading="lazy" src="https://s2.googleusercontent.com/s2/favicons?domain_url={{ resource.link }}">
            <h3>{{ resource.title }}</h3>
            <p>{{ resource.description }}</p>
        </div>
    </a>
    {% endfor %}
    {% endfor %}