<section class="section-split">
    <span class="headerCaption">Degreeless.marketing</span>
    
    <h2>Marketers make change happen</h2>
    <div class="quadColumn">
        <div>
            <h3>Indispensable to our clients</h3>
            <p>We’re linchpins—special people, in special situations, doing special work. Work that has a huge ROI when done with skill and effort.</p>
        </div>
        <div>
            <h3>Adhocracy over bureaucracy</h3>
            <p>There’s no top and no bottom. Simply the ranks of people who care enough to make things better. Action over complacency brings out the best in people.</p>
        </div>
        <div>
            <h3>Commitments</h3>
            <p>We show up and extend ourselves by choice to create space. The space to own the work, to personalize it, and to turn it into more than getting by.</p>
        </div>
        <div>
            <h3>Contribute to building</h3>
            <p>Every step of the way we ask, what are you building? Directly, or helping other people build, or teaching other people to build, or taking care of people who are building?</p>
        </div>
    </div>

    <p>© Degreeless.marketing, {{ site.time | date: '%Y' }}. <a class="contrastRed" href="https://lukasmurdock.com/">Made by Lukas Murdock</a></p>
</section>

<script type="text/javascript" src="/assets/scripts/script.js"></script>
<!-- <script async data-uid="975a05221f" src="https://creative-creator-3213.ck.page/975a05221f/index.js"></script> -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TG84T4Q');</script>
    <!-- End Google Tag Manager -->

    <!-- MailerLite Universal -->
<script>
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
    var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
    f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
    var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
    _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
    
    var ml_account = ml('accounts', '2086804', 'o7v7l7x0t7', 'load');
    </script>
    <!-- End MailerLite Universal -->