<script type="application/ld+json">
  {
    "@context": "http://www.schema.org",
    "@graph":
    [
      {
        "@context": "https://schema.org/",
        "@type": "WebPage",
        "name": "Degreeless.marketing",
        "speakable": {
            "@type": "SpeakableSpecification",
            "cssSelector": [
                "#SpeakableHeadline",
                "#SpeakableSummary"
            ]
        },
        "url": "https://degreeless.marketing/"
      },
      {
        "@context": "http://www.schema.org",
        "@type": "Organization",
        "name": "Degreeless.marketing",
        "url": "https://degreeless.marketing/",
        "logo": "https://degreeless.marketing/assets/images/logo.png",
        "image": "https://degreeless.marketing/assets/images/weblogo.png",
        "description": "Marketing for self-learners."
      },
      {
        "@context": "http://www.schema.org",
        "@type": "WebSite",
        "name": "Degreeless.marketing",
        "alternateName": "Degreeless Marketing",
        "url": "https://degreeless.marketing/"
      },
      {
        "@context": "http://schema.org/",
        "@type": "Service",
        "name": "SEO",
        "sameAs": [
                    "https://en.wikipedia.org/wiki/Search_engine_optimization",
                    "http://dbpedia.org/page/Search_engine_optimization",
                    "http://www.wikidata.org/entity/Q180711"
                  ]
      },
      {
        "@context": "http://schema.org/",
        "@type": "Service",
        "name": "Marketing",
        "sameAs": [
                    "https://en.wikipedia.org/wiki/Marketing",
                    "http://dbpedia.org/page/Marketing",
                    "https://www.wikidata.org/wiki/Q39809"
                  ]
      },
      {
        "@context": "http://schema.org/",
        "@type": "Service",
        "name": "Marketing Management",
        "sameAs": [
                    "https://en.wikipedia.org/wiki/Marketing_management",
                    "http://dbpedia.org/page/Marketing",
                    "https://www.wikidata.org/wiki/Q1143466"
                  ]
      },
      {
        "@context": "http://schema.org/",
        "@type": "Service",
        "name": "Digital Marketing",
        "sameAs": [
                    "https://en.wikipedia.org/wiki/Digital_marketing",
                    "http://dbpedia.org/page/Digital_marketing",
                    "https://www.wikidata.org/wiki/Q1323528"
                  ]
      }
    ]
  }
</script>