<nav class="siteTopNav">

    <div class="dropdown">
        <a href="/"><h3>Start</h3></a>
    </div> 

    <!-- <div class="dropdown" onclick="dropdownMenuClick(this)" onmouseenter="dropdownEnter(this)" onmouseleave="dropdownLeave(this)">
        <h3>Strategy</h3>
      <div class="dropdown-content">
          <section class="straightList">
                <ul>
                    <a href="#"><li>Email Marketing</li></a>
                    <a href="#"><li>Paid Advertising</li></a>
                    <a href="#"><li>Search Engine Optimization</li></a>
                    <a href="#"><li>Social Media Marketing</li></a>
                    <a href="#"><li>Content Marketing</li></a>
                    <a href="#"><li>Web Analytics</li></a>
                    <a href="#"><li>Sales Funnels</li></a>
                </ul>
          </section>
      </div>
    </div>  -->

    <div id="dropdown" tabindex="0" class="dropdown" onclick="dropdownMenuClick(this)" onmouseenter="dropdownEnter(this)" onmouseleave="dropdownLeave(this)">
        <h3>Resources</h3>
      <div class="dropdown-content">
          <section class="straightList">
                <ul>
                    <a id="books" tabindex="0" href="/books/"><li>Books</li></a>
                    <a tabindex="0" href="/podcasts/"><li>Podcasts</li></a>
                    <a tabindex="0"href="/courses/"><li>Courses</li></a>
                    <a tabindex="0" href="https://saijogeorge.com/best-marketing-tools/"><li>Tools</li></a>
                    <a tabindex="0" href="/guides/"><li>Guides</li></a>
                    <a tabindex="0" onfocusout="dropdownLeave(dropdown)" href="/newsletters/"><li>Newsletters</li></a>
                </ul>
          </section>
      </div>
    </div> 
    <div class="dropdown">
        <a href="/contact"><h3>Contact</h3></a>
    </div> 
</nav>