<!DOCTYPE html>
<html lang='en'>

    {% include head.html %}

<body class="pagebody">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TG84T4Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include sitenav.html %}

    <main>
    <div class="heading">
        <div class="heading-measure">
            <span class="headerCaption">Degreeless.marketing</span>
            <h1 id="SpeakableHeadline" class="heading-title">{{page.title}}</h1>
            <p id="SpeakableSummary" class="heading-text">{{page.description}}</p>
        </div>
    </div>

    <div class="content-measure">
        {{ content }}
    </div>
    </main>

    {% include footer.html %}
</body>

</html>