<!DOCTYPE html>
<html lang='en'>

    {% include head.html %}

<body class="pagebody">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TG84T4Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include sitenav.html %}

    <main>
    <div class="heading">
        <div class="heading-measure ideaSplitLink">
            <a class="svgAlign" href="/ideas"><svg style="width:16px;height:16px" viewBox="0 0 24 24">
                <path fill="#DD3532" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
            </svg><span class="headerCaption">Marketing Ideas</span></a>
            <h1 id="SpeakableHeadline" class="heading-title">{{page.title}}</h1>
            <p id="SpeakableSummary" class="heading-text">{{page.description}}</p>
        </div>
    </div>

    <div class="content-measure">
        {{ content }}
    </div>
    </main>

    {% include footer.html %}
</body>

</html>